<header class="z-40 mt-16 lg:mt-0 lg:ml-12 lg:w-[95%] xl:w-full xl:ml-0 items-center w-full bg-white shadow-lg dark:bg-gray-700 rounded-xl lg:h-[70px]">
  <div class="relative flex items-center justify-between h-full px-3 mx-auto flex-center">
    <!-- Toggle button for sm -->
    <button (click)="isHeaderOpen = !isHeaderOpen"
      class="lg:hidden fixed top-4 right-4 z-50 p-2 bg-white dark:bg-gray-700 rounded-full shadow-lg">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-6 h-6 text-gray-800 dark:text-gray-200">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
      </svg>
    </button>

    <div [ngClass]="{'block': isHeaderOpen, 'hidden': !isHeaderOpen, 'lg:flex': true }"
      class="relative flex flex-col lg:flex-row items-center w-full pl-1 lg:max-w-68 sm:pr-2 sm:ml-0 gap-4 lg:justify-between">
      <div class="flex flex-col sm:flex-row gap-4 w-full items-center pt-4 lg:pt-0">
        <div class="flex gap-1 items-center">
          <svg width="20px" height="20px" viewBox="-0.5 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"
            stroke="#606060">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M22 3.58002H2C1.99912 5.28492 2.43416 6.96173 3.26376 8.45117C4.09337 9.94062 5.29 11.1932 6.73999 12.09C7.44033 12.5379 8.01525 13.1565 8.41062 13.8877C8.80598 14.6189 9.00879 15.4388 9 16.27V21.54L15 20.54V16.25C14.9912 15.4188 15.194 14.599 15.5894 13.8677C15.9847 13.1365 16.5597 12.5178 17.26 12.07C18.7071 11.175 19.9019 9.92554 20.7314 8.43988C21.5608 6.95422 21.9975 5.28153 22 3.58002Z"
                stroke="#606060" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
          </svg>
          <span class="text-l font-semibold text-gray-600 dark:text-gray-200">Filter</span>
        </div>
        <div class="w-full">
          <div class="relative mt-1">
            <button type="button" (click)="statusFilter = !statusFilter"
              class="relative w-full py-3 pl-3 pr-10 text-left bg-white dark:bg-gray-600 dark:text-gray-100 rounded-md ring-1 ring-primary-200 cursor-default focus:outline-none focus:ring-primary focus:border-primary sm:text-sm">
              <span class="flex items-center">
                <span class="block truncate">Status</span>
              </span>
              <span class="absolute inset-y-0 right-0 flex items-center pr-2 ml-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                  fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd"
                    d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                    clip-rule="evenodd">
                  </path>
                </svg>
              </span>
            </button>
            @if (statusFilter) {
            <div class="absolute z-10 w-full mt-1 bg-white dark:bg-gray-600 rounded-md shadow-lg"
              (mouseleave)="statusFilter = false">
              <ul tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-item-3"
                class="py-1 overflow-auto text-base rounded-md max-h-56 ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm">
                <li id="listbox-item-0" role="option" (click)="toggleStatus('todo')"
                  class="relative py-2 pl-3 text-gray-900 dark:text-gray-100 cursor-default select-none hover:bg-primary hover:text-white pr-9">
                  <div class="flex items-center">
                    <span class="block ml-3 font-normal truncate">To Do</span>
                  </div>
                  @if (isStatusSelected('todo')) {
                  <span class="absolute inset-y-0 right-0 flex items-center pr-4">
                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                      aria-hidden="true">
                      <path fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd">
                      </path>
                    </svg>
                  </span>
                  }
                </li>
                <li id="listbox-item-1" role="option" (click)="toggleStatus('doing')"
                  class="relative py-2 pl-3 text-gray-900 dark:text-gray-100 cursor-default select-none hover:bg-primary hover:text-white pr-9">
                  <div class="flex items-center">
                    <span class="block ml-3 font-normal truncate">In progress</span>
                  </div>
                  @if (isStatusSelected('doing')) {
                  <span class="absolute inset-y-0 right-0 flex items-center pr-4">
                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                      aria-hidden="true">
                      <path fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd">
                      </path>
                    </svg>
                  </span>
                  }
                </li>
                <li id="listbox-item-1" role="option" (click)="toggleStatus('done')"
                  class="relative py-2 pl-3 text-gray-900 dark:text-gray-100 cursor-default select-none hover:bg-primary hover:text-white pr-9">
                  <div class="flex items-center">
                    <span class="block ml-3 font-normal truncate">Done</span>
                    @if (isStatusSelected('done')) {
                    <span class="absolute inset-y-0 right-0 flex items-center pr-4">
                      <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                        aria-hidden="true">
                        <path fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd">
                        </path>
                      </svg>
                    </span>
                    }
                  </div>
                </li>
              </ul>
            </div>
            }
          </div>
        </div>
        <div class="w-full">
          <div class="relative mt-1">
            <button type="button" (click)="priorityFilter = !priorityFilter"
              class="relative w-full py-3 pl-3 pr-10 text-left bg-white dark:bg-gray-600 dark:text-gray-100 rounded-md ring-1 ring-primary-200 cursor-default focus:outline-none focus:ring-1 focus:ring-primary focus:border-primary sm:text-sm">
              <span class="flex items-center">
                <span class="block truncate">Priority</span>
              </span>
              <span class="absolute inset-y-0 right-0 flex items-center pr-2 ml-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                  fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd"
                    d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                    clip-rule="evenodd">
                  </path>
                </svg>
              </span>
            </button>
            @if (priorityFilter) {
            <div class="absolute z-10 w-full mt-1 bg-white dark:bg-gray-600 rounded-md shadow-lg"
              (mouseleave)="priorityFilter = false">
              <ul tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-item-3"
                class="py-1 overflow-auto text-base rounded-md max-h-56 ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm">
                <li id="listbox-item-0" role="option" (click)="togglePriority('high')"
                  class="relative py-2 pl-3 text-gray-900 dark:text-gray-100 cursor-default select-none hover:bg-primary hover:text-white pr-9">
                  <div class="flex items-center">
                    <span class="block ml-3 font-normal truncate">High</span>
                  </div>
                  @if (isPrioritySelected('high')) {
                  <span class="absolute inset-y-0 right-0 flex items-center pr-4">
                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                      aria-hidden="true">
                      <path fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </span>
                  }
                </li>
                <li id="listbox-item-1" role="option" (click)="togglePriority('medium')"
                  class="relative py-2 pl-3 text-gray-900 dark:text-gray-100 cursor-default select-none hover:bg-primary hover:text-white pr-9">
                  <div class="flex items-center">
                    <span class="block ml-3 font-normal truncate">Medium</span>
                  </div>
                  @if (isPrioritySelected('medium')) {
                  <span class="absolute inset-y-0 right-0 flex items-center pr-4">
                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                      aria-hidden="true">
                      <path fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </span>
                  }
                </li>
                <li id="listbox-item-1" role="option" (click)="togglePriority('low')"
                  class="relative py-2 pl-3 text-gray-900 dark:text-gray-100 cursor-default select-none hover:bg-primary hover:text-white pr-9">
                  <div class="flex items-center">
                    <span class="block ml-3 font-normal truncate">Low</span>
                  </div>
                  @if (isPrioritySelected('low')) {
                  <span class="absolute inset-y-0 right-0 flex items-center pr-4">
                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                      aria-hidden="true">
                      <path fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </span>
                  }
                </li>
              </ul>
            </div>
            }
          </div>
        </div>
      </div>

      <!-- Sort By Row -->
      <div class="w-full">
        <div class="relative mt-1">
          <button type="button" (click)="sortToggle = !sortToggle"
            class="relative w-full py-3 pl-3 pr-10 text-left bg-white dark:bg-gray-600 dark:text-gray-100 rounded-md ring-1 ring-primary-200 cursor-default focus:outline-none focus:ring-1 focus:ring-primary focus:border-primary sm:text-sm">
            <span class="flex gap-2 items-center">
              <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path d="M13 12H21M13 8H21M13 16H21M6 7V17M6 17L3 14M6 17L9 14" stroke="#858585" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round"></path>
                </g>
              </svg>
              <span class="block truncate">Sort By</span>
            </span>
            <span class="absolute inset-y-0 right-0 flex items-center pr-2 ml-3 pointer-events-none">
              <svg class="w-5 h-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
            </span>
          </button>
          @if (sortToggle) {
          <div class="absolute z-10 w-full mt-1 bg-white dark:bg-gray-600 rounded-md shadow-lg"
            (mouseleave)="sortToggle = false">
            <ul tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-item-3"
              class="py-1 overflow-auto text-base rounded-md max-h-56 ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm">
              <li id="listbox-item-0" role="option" (click)="onSortSelection('dueDateAsc')"
                class="relative py-2 pl-3 text-gray-900 dark:text-gray-100 cursor-default select-none hover:bg-primary hover:text-white pr-9">
                <div class="flex items-center">
                  <span class="block ml-3 font-normal truncate">Due Date (Soonest First)</span>
                </div>
                @if (isSelected('dueDateAsc')) {
                <span class="absolute inset-y-0 right-0 flex items-center pr-4">
                  <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                    aria-hidden="true">
                    <path fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"></path>
                  </svg>
                </span>
                }
              </li>
              <li id="listbox-item-1" role="option" (click)="onSortSelection('dueDateDesc')"
                class="relative py-2 pl-3 text-gray-900 dark:text-gray-100 cursor-default select-none hover:bg-primary hover:text-white pr-9">
                <div class="flex items-center">
                  <span class="block ml-3 font-normal truncate">Due Date (Latest First)</span>
                </div>
                @if (isSelected('dueDateDesc')) {
                <span class="absolute inset-y-0 right-0 flex items-center pr-4">
                  <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                    aria-hidden="true">
                    <path fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"></path>
                  </svg>
                </span>
                }
              </li>
              <li id="listbox-item-1" role="option" (click)="onSortSelection('priorityAsc')"
                class="relative py-2 pl-3 text-gray-900 dark:text-gray-100 cursor-default select-none hover:bg-primary hover:text-white pr-9">
                <div class="flex items-center">
                  <span class="block ml-3 font-normal truncate">Priority (Low to High)</span>
                </div>
                @if (isSelected('priorityAsc')) {
                <span class="absolute inset-y-0 right-0 flex items-center pr-4">
                  <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                    aria-hidden="true">
                    <path fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"></path>
                  </svg>
                </span>
                }
              </li>
              <li id="listbox-item-1" role="option" (click)="onSortSelection('priorityDesc')"
                class="relative py-2 pl-3 text-gray-900 dark:text-gray-100 cursor-default select-none hover:bg-primary hover:text-white pr-9">
                <div class="flex items-center">
                  <span class="block ml-3 font-normal truncate">Priority (High to Low)</span>
                </div>
                @if (isSelected('priorityDesc')) {
                <span class="absolute inset-y-0 right-0 flex items-center pr-4">
                  <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                    aria-hidden="true">
                    <path fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"></path>
                  </svg>
                </span>
                }
              </li>
            </ul>
          </div>
          }
        </div>
      </div>

      <!-- Add Task Button Row -->
      <div class="w-full flex lg:justify-end justify-center pb-4 lg:pb-0">
        <button (click)="showAddTaskModal=true"
          class="flex items-center border border-secondary text-secondary dark:border-primary dark:text-primary font-bold py-2 px-4 rounded shadow-md hover:bg-secondary hover:text-white dark:hover:bg-secondary dark:hover:text-white dark:hover:border-secondary transition-colors">
          <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
          </svg>
          Add Task
        </button>
      </div>
    </div>
  </div>
</header>

@if(showAddTaskModal){
<app-add-task (saveTask)="addTask($event)" (closeModal)="closeModal()"></app-add-task>
}
