<div>
  <div class="mb-3 px-4 flex items-center justify-between">
    <h2 [ngClass]="headingColor" class="font-medium text-lg">{{ title }}</h2>
    <span class="rounded text-sm text-neutral-400">{{ filteredCards.length }}</span>
  </div>
  <div
    (drop)="handleDragEnd($event)"
    (dragover)="handleDragOver($event)"
    (dragleave)="handleDragLeave()"
    [ngClass]="{
      'bg-neutral-800/50': active,
      'bg-neutral-800/0': !active
    }"
    class="h-full w-full transition-colors"
  >
    <ng-container *ngFor="let card of filteredCards">
      <app-drop-indicator [beforeId]="card.id" [column]="column"></app-drop-indicator>
      <app-card
        [title]="card.title"
        [id]="card.id"
        [column]="card.column"
        [priority]="card.priority"
        (dragstart)="handleDragStart($event, card)"
      ></app-card>
    </ng-container>
    <app-drop-indicator [beforeId]="null" [column]="column"></app-drop-indicator>
  </div>
</div>
